<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Contatos
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="fixed">Nome</ion-label>
        <ion-input [(ngModel)]="newContato.nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Telefone</ion-label>
        <ion-input [(ngModel)]="newContato.telefone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="newContato.tipo">
            <ion-select-option value="1">Família</ion-select-option>
            <ion-select-option value="2">Amigos</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Nota</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="newContato.nota" interface="action-sheet">
            <ion-select-option value="1">1 Estrela</ion-select-option>
            <ion-select-option value="2">2 Estrelas</ion-select-option>
            <ion-select-option value="3">3 Estrelas</ion-select-option>
            <ion-select-option value="4">4 Estrelas</ion-select-option>
            <ion-select-option value="5">5 Estrelas</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button expand="full" color="danger" (click)="incluirContato()">Salvar Contato</ion-button>

    <ion-list #minhalista>
        <ion-list-header>
            <ion-label>Meus Contatos</ion-label>
        </ion-list-header>

        <ion-item-sliding *ngFor="let contato of contatos">
            <ion-item>
                <ion-label>
                    <h1>{{contato.nome}}</h1>
                    <ion-text color="secondary">
                        <p>{{contato.telefone}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deletarContato(contato)">Deletar</ion-item-option>
                <ion-item-option color="secondary" (click)="atualizarContato(contato)">Atualizar</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>